<%= render partial: 'shared/navbar' %>

<div class="container">

  <h1>Welcome To Giving Tree</h1>
  <h5>Patient-first care software</h5>

  <div class="row">
    <a class="waves-effect waves-light btn" href="/login"><i class="material-icons left">vpn_key</i>Login</a>
  </div>

  <div class="row">
    <a class="waves-effect waves-light btn" href="/facility/signup"><i class="material-icons left">visibility</i>Facility Signup</a>
  </div>

  <div class="row">
    <a class="waves-effect waves-light btn" href="/signup"><i class="material-icons left">visibility</i>Caregiver Signup</a>
  </div>
</div>
